In [56]:
import requests
from datetime import datetime as time
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

df_1 = pd.read_csv('dataset_mojo_budget_update_from_1990_until_04_20.csv')

In [57]:
df_1.head()

,movie_id,title,year,trivia,mpaa,release_date,run_time,distributor,director,writer,...,main_actor_4,budget,domestic,international,worldwide,genre_1,genre_2,genre_3,genre_4,html
0,tt0099088,Back to the Future Part III,1990,"Stranded in 1955, Marty McFly learns about the...",NaN,May 25,1 hr 58 min,Universal Pictures,Robert Zemeckis,Robert Zemeckis,...,Thomas F. Wilson,40000000.0,88277583.0,157866667.0,246144250.0,Adventure,Comedy,Sci-Fi,Western,https://www.boxofficemojo.com/title/tt0099088/...
1,tt0099165,The Bonfire of the Vanities,1990,"After his mistress runs over a young teen, a W...",R,December 22,2 hr 5 min,Warner Bros.,Brian De Palma,Michael Cristofer,...,Kim Cattrall,47000000.0,15691192.0,NaN,15691192.0,Comedy,Drama,Romance,NaN,https://www.boxofficemojo.com/title/tt0099165/...
2,tt0099348,Dances with Wolves,1990,"Lieutenant John Dunbar, assigned to a remote w...",NaN,November 9,3 hr 1 min,Orion Pictures,Kevin Costner,Michael Blake,...,Rodney A. Grant,22000000.0,184208848.0,240000000.0,424208848.0,Adventure,Drama,Western,NaN,https://www.boxofficemojo.com/title/tt0099348/...
3,tt0099422,Dick Tracy,1990,The comic strip detective finds his life vastl...,NaN,June 15,1 hr 45 min,Walt Disney Studios Motion Pictures,Warren Beatty,Chester Gould,...,Charlie Korsmo,47000000.0,103738726.0,59000000.0,162738726.0,Action,Comedy,Crime,Music,https://www.boxofficemojo.com/title/tt0099422/...
4,tt0099423,Die Hard 2,1990,John McClane attempts to avert disaster as rog...,NaN,July 6,2 hr 4 min,Twentieth Century Fox,Renny Harlin,Walter Wager,...,Reginald VelJohnson,70000000.0,117540947.0,122706486.0,240247433.0,Action,Thriller,NaN,NaN,https://www.boxofficemojo.com/title/tt0099423/...

In [58]:
bo_df = df_1
df_1.drop(labels = [
            'trivia','mpaa','run_time','distributor','director',
            'composer','cinematographer','writer','main_actor_1',
            'main_actor_2','main_actor_3','main_actor_4','producer','html'
            ], axis='columns', inplace=True)
        # print('\n')
        # print('raw dataframe')
        # print(bo_df.head(5))
        # print('\n')
        # print('clean dataframe')
        
bo_df['date'] = bo_df['year'].astype(str) + ' ' + bo_df['release_date']
cols = bo_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
bo_df = bo_df[cols]
bo_df['budget'] = bo_df['budget']/1000000
bo_df['date'] = pd.to_datetime(bo_df['date'])
bo_df.drop(labels = ['year','release_date'], axis='columns', inplace=True)
        # print(bo_df.head(5))
        # print('\n')
        #print(bo_df.tail(5))
clean_DataSet = bo_df
print(clean_DataSet)

           date   movie_id                        title  budget     domestic  \
0    1990-05-25  tt0099088  Back to the Future Part III    40.0   88277583.0
1    1990-12-22  tt0099165  The Bonfire of the Vanities    47.0   15691192.0
2    1990-11-09  tt0099348           Dances with Wolves    22.0  184208848.0
3    1990-06-15  tt0099422                   Dick Tracy    47.0  103738726.0
4    1990-07-06  tt0099423                   Die Hard 2    70.0  117540947.0
...         ...        ...                          ...     ...          ...
3238 2019-07-03  tt8772262                    Midsommar     9.0   27426361.0
3239 2019-11-21  tt8946378                   Knives Out    40.0  165363234.0
3240 2019-03-29  tt9024106                    Unplanned     6.0   19005109.0
3241 2019-11-07  tt9134216            Playing with Fire    29.9   44451847.0
3242 2020-02-20  tt9173418           Brahms: The Boy II    10.0   12611536.0

      international    worldwide    genre_1   genre_2  genre_3   genre_4
0       157866667.0  246144250.0  Adventure    Comedy   Sci-Fi   Western
1               NaN   15691192.0     Comedy     Drama  Romance       NaN
2       240000000.0  424208848.0  Adventure     Drama  Western       NaN
3        59000000.0  162738726.0     Action    Comedy    Crime     Music
4       122706486.0  240247433.0     Action  Thriller      NaN       NaN
...             ...          ...        ...       ...      ...       ...
3238     19463936.0   46890297.0      Drama    Horror  Mystery  Thriller
3239    143869563.0  309232797.0     Comedy     Crime    Drama   Mystery
3240      2046806.0   21051915.0  Biography     Drama      NaN       NaN
3241     24179822.0   68631669.0     Comedy    Family      NaN       NaN
3242      7700000.0   20311536.0      Drama    Horror  Mystery  Thriller

[3243 rows x 11 columns]

In [59]:
clean_DataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3243 entries, 0 to 3242
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3242 non-null   datetime64[ns]
 1   movie_id       3243 non-null   object
 2   title          3243 non-null   object
 3   budget         3243 non-null   float64
 4   domestic       3224 non-null   float64
 5   international  2833 non-null   float64
 6   worldwide      3236 non-null   float64
 7   genre_1        3243 non-null   object
 8   genre_2        2962 non-null   object
 9   genre_3        2221 non-null   object
 10  genre_4        1123 non-null   object
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 278.8+ KB

In [60]:
clean_DataSet.iloc[0,0].strftime("%Y-%m")

'1990-05'

In [61]:
def extract_month(x):
    x = x.strftime("%Y-%m-%d")
    clean_x = x[0:7]
    return clean_x

In [62]:
clean_DataSet = clean_DataSet.dropna(subset=['date', 'genre_1'])

In [63]:
clean_DataSet["date"] = clean_DataSet["date"].apply(extract_month)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
clean_DataSet["date"].head()

0    1990-05
1    1990-12
2    1990-11
3    1990-06
4    1990-07
Name: date, dtype: object

In [65]:
clean_DataSet

,date,movie_id,title,budget,domestic,international,worldwide,genre_1,genre_2,genre_3,genre_4
0,1990-05,tt0099088,Back to the Future Part III,40.0,88277583.0,157866667.0,246144250.0,Adventure,Comedy,Sci-Fi,Western
1,1990-12,tt0099165,The Bonfire of the Vanities,47.0,15691192.0,NaN,15691192.0,Comedy,Drama,Romance,NaN
2,1990-11,tt0099348,Dances with Wolves,22.0,184208848.0,240000000.0,424208848.0,Adventure,Drama,Western,NaN
3,1990-06,tt0099422,Dick Tracy,47.0,103738726.0,59000000.0,162738726.0,Action,Comedy,Crime,Music
4,1990-07,tt0099423,Die Hard 2,70.0,117540947.0,122706486.0,240247433.0,Action,Thriller,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3238,2019-07,tt8772262,Midsommar,9.0,27426361.0,19463936.0,46890297.0,Drama,Horror,Mystery,Thriller
3239,2019-11,tt8946378,Knives Out,40.0,165363234.0,143869563.0,309232797.0,Comedy,Crime,Drama,Mystery
3240,2019-03,tt9024106,Unplanned,6.0,19005109.0,2046806.0,21051915.0,Biography,Drama,NaN,NaN
3241,2019-11,tt9134216,Playing with Fire,29.9,44451847.0,24179822.0,68631669.0,Comedy,Family,NaN,NaN
3242,2020-02,tt9173418,Brahms: The Boy II,10.0,12611536.0,7700000.0,20311536.0,Drama,Horror,Mystery,Thriller